@font-face {
    font-family: 'Alegreya SC Regular';
    src: url(../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya SC Medium';
    src: url(../fonts/Alegreya_SC/AlegreyaSC-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans Medium';
    src: url(../fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nixie One';
    src: url(../fonts/Nixie_One/NixieOne-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Helvetica Neue: https://css-tricks.com/snippets/css/better-helvetica/ */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 400;
    font-style: normal;

    font-size: 62.5%;

    --color-bg: #F1F0F0;
    --color-bg-footer: #2B3E51;
    --color-text-headings: #3A4F52;
    --color-text-paragraphs: #6A6A6A;
    --color-text-white: #fff;
    --color-link: #4DA7CA;



}

.wrapper {
    max-width: 144rem;
    margin: 0 auto;
}

.wrapper3 {
    background-color: rgba(0, 0, 0, 0.20);
    padding: 2rem;
    text-align: center;
}


p {
    color: var(--color-text-paragraphs);
    font-family: "Helvetica Neue";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 142.857% */
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

h1 {
    color: var(--color-text-white);
    /* text-align: center; */
    font-family: "Nixie One";
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5.6rem; /* 100% */
    text-transform: uppercase;
}

h2 {
    color: var(--color-text-headings);
    font-family: "Alegreya Sans Medium";
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.96rem; /* 110% */
    margin-bottom: 1.56rem;
}

h3 {
    color: var(--color-text-headings);
    font-family: "Alegreya Sans Medium";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.3rem; /* 110% */ 
    margin-bottom: 1.6rem;
}


.btn {
    color: var(--color-text-headings);
    padding: 1.2rem 1.7rem;
    border: 1px solid var(--color-text-headings);
    display: inline-block;
    font-family: "Helvetica Neue";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem; /* 133.333% */
    transition: background-color .2s linear;
}

.btn:hover {
    background-color: var(--color-text-headings);
    color: var(--color-text-white);
    text-decoration: none;
}

.btn-light {
    background-color: transparent;
    border: 1px solid var(--color-text-white);
    color: var(--color-text-white);
    text-decoration: none;
}

/* Header */

header {
    background: url('../img/hero.jpeg') lightgray center /cover no-repeat;
    height: 88rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 27rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color-text-white);
    text-align: center;
    font-family: "Alegreya SC Medium";
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.96rem; /* 110% */
    
    width: 100%;
    height: 10.159rem;
    padding: 2.5rem 3rem;
}

nav a {
    color: var(--color-text-white);
}

.hero {
    display: flex;
    width: 100%;
    /* padding: 0rem 49.681rem 0.039rem 49.519rem; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

.hero p {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: "Alegreya SC";
    font-size: 2.24rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.24rem; /* 100% */
}

/* Main */

.wrapper2 {
    padding: 6rem 13.5rem;
}

.works .heading, .blog .heading {
    display: flex;
    justify-content: space-between ;
    align-items: flex-start;
}

.works .heading p, .blog .heading p {
    color: var(--color-text-paragraphs);
    font-family: "Helvetica Neue";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 142.857% */
    margin-bottom: 6rem;
}

/* Section Our Latest Work */

.works .heading {
    display: flex;
    justify-content: space-between ;
    align-items: flex-start;
}

.works .heading p {
    color: var(--color-text-paragraphs);
    font-family: "Helvetica Neue";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 142.857% */
    margin-bottom: 6rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.1rem 3rem;
}

.gallery div {
    max-width: 22rem;
    height: 13.878rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.gallery div:hover {
    background: rgba(2, 56, 58, 0.70);
}

.gallery .work1 {
    background-image: url('../img/work1.jpeg');
}
.gallery .work2 {
    background-image: url('../img/work2.jpeg');
}
.gallery .work3 {
    background-image: url('../img/work3.jpeg');
}
.gallery .work4 {
    background-image: url('../img/work4.jpeg');
}
.gallery .work5 {
    background-image: url('../img/work5.jpeg');
}
.gallery .work6 {
    background-image: url('../img/work6.jpeg');
}
/* .gallery a div:nth-child(1) {
    background-image: url('../img/work1.jpeg');
}
.gallery a:nth-child(2) {
    background-image: url('../img/work2.jpeg');
}
.gallery a:nth-child(3) {
    background-image: url('../img/work3.jpeg');
}
.gallery a:nth-child(4) {
    background-image: url('../img/work4.jpeg');
}
.gallery a:nth-child(5) {
    background-image: url('../img/work5.jpeg');
}
.gallery a:nth-child(6) {
    background-image: url('../img/work6.jpeg');
} */


.services {
    background-image: url('../img/services.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.services h2, .services h3, .services p, .contact h2, .contact p {
    color: var(--color-text-white);
}

.services p, .testimonials p, .contact p {
    margin-bottom: 6rem;
}

.services .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    gap: 3rem;
}

/* .services .content div {
    display: flex;
    flex-direction: column;

} */

.blog .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: space-around;
    align-items: flex-start; */
    gap: 1.5rem;
}

.blog .posts img {
    margin-bottom: 1.8rem;
}

.blog .posts p {
    margin-bottom: 2.4rem;
}

.blog .posts p.date {
    font-style: italic;
    margin-bottom: 1.9rem;
}


.quote {
    background-image: url('../img/quote.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.quote h2 {
    color: var(--color-text-white);
}

.testimonials {
    text-align: center;
}

.testimonials .quotes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}

.testimonials .quotes img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1.5rem;
}
.testimonials .quotes p {
    margin-bottom: 2.3rem;
}
.testimonials p.author {
    font-weight: 700;
    margin-bottom: 0rem;
}


.contact {
    background-image: url('../img/contact.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 55.5rem;
    margin: 0 auto;
}

input, textarea {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.4rem;
    border: 1px solid var(--color-text-white);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08) inset;
    color: var(--color-text-white);
    padding: 1rem;
    font-family: 'Helvetica Neue';
}

input::placeholder,
textarea::placeholder {
    color: var(--color-text-white);
}

footer {
    height: 14rem;
    background-color: var(--color-bg-footer);
}

footer p {
    color: var(--color-text-white);
    width: 100%;
}


/* Tablet */
@media screen and (max-width: 76.8rem) {
    body {
        /* background-color: red; */
    }

    .wrapper2 {
        padding: 6rem 1.5rem;
    }

    .services .content {
        flex-direction: column;
    }

    .testimonials .quotes {
        flex-direction: column;
    }
}


/* Mobile */
@media screen and (max-width: 37.5rem ) {
    body {
        /* background-color: blue; */
    }

    .gallery {
        grid-template-columns: 1fr;
    }


    .gallery div {
        max-width: 100%;
        width: 100%;
        height: 20rem;
    }

    .blog .posts {
        grid-template-columns: 1fr;
    }
}